.navbarLinkList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navbarListItemLink {
  border-bottom: 3px solid red;
  font-family: sans-serif;
  text-decoration: none;
  margin: 10px 5px;
}
