.userCard {
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.userCard  > * {
  flex-grow: 1;
}

.id {
  font-size: 20px;
  color: lightgrey;
}
