<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Start</title>

  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <!-- BEGIN TRACKJS -->
  <script type="text/javascript">window._trackJs = { token: '<%= htmlWebpackPlugin.options.trackJSToken %>' };</script>
  <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
  <!-- END TRACKJS -->
  <% } %>
</head>
<body>

</body>
</html>
